@charset 'utf-8';
@import '_reset';
@import '_variable';
@import '_font';
@import '_debugger';

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: $color--white;
}

button {
  background-color: $color--main;
  border-radius: 500px;
  border: 0;
  color: $color--white;
  font-size: 1.8rem;
  font-weight: bolder;
  height: 100px;
  padding: 0;
  transition-duration: $transition--m;
  width: 100px;
  &:focus {
    outline: 0;
  }
}

.hover:hover {
  background-color: $color--white;
  border: 2px solid $color--main;
  color: $color--main;
}

.opacity {
  &.activated {
    opacity: 0.2;
  }
}

.transform {
  &.activated {
    transform: translateX(-50px) scale(1.25);
  }
}

.width {
  &.activated {
    width: 300px;
  }
}

.bomb {
  font-size: 4.8rem;
  &.activated {
    color: red;
    transform: scale(1.25);
  }
}

.bomb2 {
  font-size: 4.8rem;
  .fa-bomb {
    transition-duration: $transition--m;
    &.activated {
      color: red;
      transform: scale(1.25);
    }
  }
}


/*translateX(-50px) scale(1.25)BOOTSTRAP NOTES & RESOLUTION REFERENCE */
// xs < 768px (.container @ auto)
// sm >= 768px (.container @ 750px)
// md >= 992px (.container @ 970px)
// lg >= 1200px (.container @ 1170px)
// ----------------------------------
// iPhone SE = 320 * 568px
// iPhone 7 = 375 * 667px
// iPhone 7 Plus = 414 * 736px
// iPad & iPad mini = 768 * 1024px
// iPad Pro = 1024 * 1366px
// Macbook Air 13-inch = 1440 * 900px
// Macbook Pro 15-inch = 2560 * 1600px
// ----------------------------------
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}