html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Helvetica", "Verdana", sans-serif;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

img {
  height: auto;
  width: 100%;
  max-width: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6, p, a {
  color: #222222;
  line-height: 125%;
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

p, a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  font-size: calc(1.6rem * 4.48); }

h2 {
  font-size: calc(1.6rem * 3.32); }

h3 {
  font-size: calc(1.6rem * 2.46); }

h4 {
  font-size: calc(1.6rem * 1.83); }

h5, h6 {
  font-size: calc(1.6rem * 1.35); }

p {
  font-size: 1.6rem; }

a {
  font-size: 1.6rem; }
  a:visited, a:focus, a:active {
    color: #222222;
    outline: none;
    text-decoration: none; }

.debug {
  border: 1px dashed #FF0000 !important; }
  .debug--reset {
    all: unset;
    border: 1px dashed #00C8FF !important; }

.display--block {
  display: block; }

.display--inline {
  display: inline; }

.display--inline-block {
  display: inline-block; }

.display--none {
  display: none; }

.dummy--height {
  height: 500vh; }

.fill--c {
  background-color: #BCE2EE; }

.fill--m {
  background-color: #F3C7D4; }

.fill--y {
  background-color: #FFFCC8; }

.fill--k {
  background-color: #C0C1BF; }

.flex--center--center {
  align-items: center;
  display: flex;
  justify-content: center; }

.flex--direction--column {
  flex-direction: column; }

.height--100 {
  height: 100%; }

.height--90 {
  height: 90%; }

.height--80 {
  height: 80%; }

.height--70 {
  height: 70%; }

.height--60 {
  height: 60%; }

.height--50 {
  height: 50%; }

.height--40 {
  height: 40%; }

.height--30 {
  height: 30%; }

.height--20 {
  height: 20%; }

.height--10 {
  height: 10%; }

.margin--none {
  margin: 0px; }

.padding--none {
  padding: 0px; }

.section--full-view {
  min-height: 100vh;
  padding: 0 0 5vh 0;
  width: 100vw; }
  .section--full-view .row {
    width: 100%; }

.version {
  color: #222222;
  font-size: 8px;
  font-weight: 500;
  left: 5px;
  letter-spacing: 0px;
  position: fixed;
  text-align: left;
  top: 5px;
  z-index: 1000; }

.width--100 {
  width: 100%; }

.width--90 {
  width: 90%; }

.width--80 {
  width: 80%; }

.width--70 {
  width: 70%; }

.width--60 {
  width: 60%; }

.width--50 {
  width: 50%; }

.width--40 {
  width: 40%; }

.width--30 {
  width: 30%; }

.width--20 {
  width: 20%; }

.width--10 {
  width: 10%; }

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #F3F3F3; }

button {
  background-color: #00A5D5;
  border-radius: 500px;
  border: 0;
  color: #F3F3F3;
  font-size: 1.8rem;
  font-weight: bolder;
  height: 100px;
  padding: 0;
  transition-duration: 0.6s;
  width: 100px; }
  button:focus {
    outline: 0; }

.hover:hover {
  background-color: #F3F3F3;
  border: 2px solid #00A5D5;
  color: #00A5D5; }

.opacity.activated {
  opacity: 0.2; }

.transform.activated {
  transform: translateX(-50px) scale(1.25); }

.width.activated {
  width: 300px; }

/*translateX(-50px) scale(1.25)BOOTSTRAP NOTES & RESOLUTION REFERENCE */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
